@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans";
  font-weight: 300;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: flex-start;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: rgb(0, 0, 0);
  }

  .bg::after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
  }

  a {
    text-decoration: none;
    color: whitesmoke;
  }

  h1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 40px;
    letter-spacing: 10px;
    color: whitesmoke;
    text-transform: uppercase;
    position: relative;
  }
  
  .container h1 span {
    margin-right: 50px;
    display: inline-block;
  }
  